In [2]:
import pandas as pd
import numpy as np

# 샘플 데이터 생성
np.random.seed(0)

hanwha_players_2025 = [
    '류현진', '문동주', '김서현', '주현상', '엄상백', '김승일', '한승혁',
    '이상규', '조동욱', '윤대경', '이민우', '장시환', '황준서', '폰세',
    '장민재', '김종수', '장지수', '정우주', '박상원', '배동현', '성지훈',
    '이태양', '김민우', '김기중', '권민규', '김규연', '김도빈', '김범수',
    '배민서', '와이스',
    '안치홍', '노시환', '김인환', '문현빈', '심우준', '정민규', '하주석',
    '이도윤', '채은성', '황영묵', '배승수', '김태연', '이진영', '이상혁',
    '유로결', '최인호', '이원석', '임종찬', '최준서', '리베라토'
]


subjects = ['수학', '영어', '과학', '국어']

data = {
    '이름': np.repeat(hanwha_players_2025, 4),  # 각 선수를 4번씩 반복
    '과목': np.tile(subjects, 50),  # 4개 과목을 50번 반복
    '점수': np.random.randint(60, 101, 200),  # 200개의 점수 데이터
    '학년': np.random.randint(1, 4, 200)  # 1-3학년
}

df = pd.DataFrame(data)

In [3]:
print(df)

       이름  과목   점수  학년
0     류현진  수학   60   2
1     류현진  영어   63   2
2     류현진  과학   63   3
3     류현진  국어   99   1
4     문동주  수학   69   2
..    ...  ..  ...  ..
195   최준서  국어   70   2
196  리베라토  수학   97   2
197  리베라토  영어   88   3
198  리베라토  과학  100   3
199  리베라토  국어   62   2

[200 rows x 4 columns]

* 문제 1: groupby를 사용하여 각 학생의 평균 점수를 계산하고, 평균 점수가 가장 높은 상위 3명의 학생을 골라 출력해주세요.

In [4]:
avg_scores = df.groupby('이름')['점수'].mean().sort_values(ascending=False)

top3 = avg_scores.head(3)
print(top3)

이름
배승수    91.00
김종수    90.75
폰세     87.50
Name: 점수, dtype: float64

* 문제 2: groupby와 apply를 사용하여 각 과목별로 학년 간 평균 점수 차이가 가장 큰 과목을 구해보세요.

In [5]:
def diff_by_grade(x):
    return x.groupby('학년')['점수'].mean().max() - x.groupby('학년')['점수'].mean().min()

diffs = df.groupby('과목').apply(diff_by_grade)
max_diff_subject = diffs.idxmax()
print('학년 간 평균 점수 차이가 가장 큰 과목:', max_diff_subject)

학년 간 평균 점수 차이가 가장 큰 과목: 과학

/var/folders/pj/nj5qkz7j40v_vstvg1zpbrj00000gn/T/ipykernel_26239/598864.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  diffs = df.groupby('과목').apply(diff_by_grade)

* 문제 3: apply를 사용하여 각 학생의 점수에 대해 다음 기준으로 등급을 매기는 새로운 열을 만들어 봅시다:
- 95점 이상: 'A+'
- 90-94점: 'A'
- 85-89점: 'B+'
- 80-84점: 'B'
- 75-79점: 'C+'
- 70-74점: 'C'
- 70점 미만: 'F'
그리고 각 등급별 학생 수를 계산하세요.

In [6]:
def grade(score):
    if score >= 95:
        return 'A+'
    elif score >= 90:
        return 'A'
    elif score >= 85:
        return 'B+'
    elif score >= 80:
        return 'B'
    elif score >= 75:
        return 'c+'
    elif score >= 70:
        return 'C'
    else:
        return 'F'

df['등급'] = df['점수'].apply(grade)

grade_counts = df['등급'].value_counts()
print(grade_counts)

등급
F     50
A+    37
B     28
C     28
c+    24
A     22
B+    11
Name: count, dtype: int64

* 문제 4: groupby와 apply를 사용하여 각 과목별로 상위 20% 학생의 점수 평균을 계산하세요.

In [7]:
def top_20_mean(x):
    top20 = int(len(x) * 0.2)
    return x['점수'].sort_values(ascending=False).head(top20).mean()

top20_means = df.groupby('과목').apply(top_20_mean)
print(top20_means)

과목
과학    98.2
국어    95.8
수학    97.1
영어    96.8
dtype: float64

/var/folders/pj/nj5qkz7j40v_vstvg1zpbrj00000gn/T/ipykernel_26239/3085864478.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top20_means = df.groupby('과목').apply(top_20_mean)